#main{
    width: 1000px;
    height: 800px;
    background-color: azure;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 1px black;
}
body, html{display: flex; justify-content:center; background-color: cadetblue;}

#header{text-align: center; font-family: 'Courier New', Courier, monospace; }

#nav{text-align: center; border-bottom: 1px solid black;}

.nav-list{list-style: none; display: inline; text-align: center; padding: 15px;}

#content{height: 580px; }

#footer{text-align: center; border-top: 1px solid black; font-family: 'Courier New', Courier, monospace;}

.section-header{padding-left: 25px; }

.section-text{width: 580px; padding-left: 20; float: left;}

.section-img{float:left; padding-right: 20px; width: 300px;}



a:link{

}

a:visited{

}


a:active{

}


td{
    border: 1px solid black;
}